#phot.big-bg
  = render "partial/header"
  .phot-content.wrapper
    %h2.page-title Photo diary
    %p.header-mini-text 今まで撮影してきた人物、風景をお楽しみください
.slide
  .wrapper.grid.slider
    .item.big-box
      = image_tag "/assets/37677368.bce6c3dc34e149bdbce92fdd26c242f7.19041412.JPG"
      %p
    .item
      = image_tag "/assets/IMG_9228.JPG"
      %p
    .item
      = image_tag "/assets/IMG_9227.JPG"
      %p
    .item
      = image_tag "/assets/IMG_9240.JPG"
      %p
    .item
      = image_tag "/assets/IMG_9241.JPG"
      %p
    .item
      = image_tag "/assets/IMG_9218.JPG"
      %p
    .item
      = image_tag "/assets/IMG_9221.JPG"
      %p
    .item
      = image_tag "/assets/IMG_9216.JPG"
      %p
    .item
      = image_tag "/assets/IMG_9226.JPG"
      %p
    .item
      = image_tag  "/assets/IMG_9229.JPG"
      %p
    .item
      = image_tag "/assets/IMG_9232.JPG"
      %p
    .item
      = image_tag "/assets/IMG_9233.JPG"
      %p
    .item
      = image_tag "/assets/IMG_9236.JPG"
      %p

  -# 上記スライドの内容の表示
  .wrapper.grid
    .item.big-box
      = image_tag "/assets/37677368.bce6c3dc34e149bdbce92fdd26c242f7.19041412.JPG"
    .item
      = image_tag "/assets/IMG_9228.JPG"
      %p
    .item
      = image_tag "/assets/IMG_9227.JPG"
      %p
    .item
      = image_tag "/assets/IMG_9240.JPG"
      %p
    .item
      = image_tag "/assets/IMG_9241.JPG"
      %p
    .item
      = image_tag "/assets/IMG_9218.JPG"
      %p
    .item
      = image_tag "/assets/IMG_9221.JPG"
      %p
    .item
      = image_tag "/assets/IMG_9216.JPG"
      %p
    .item
      = image_tag "/assets/IMG_9226.JPG"
      %p

  .wrapper.grid
    .item.resize-phot
      = image_tag "/assets/37677211.8d624bc48a8345d29252138e76a56adc.19041412.JPG"
      %p
    .item.resize-phot
      = image_tag "/assets/IMG_5558.JPG"
      %p
    .item
      = image_tag "/assets/IMG_5459.JPG"
      %p
    .item
      = image_tag "/assets/IMG_6806.jpg"
      %p
    .item
      = image_tag "/assets/IMG_6929.jpg"
      %p
    .item
      = image_tag "/assets/IMG_8489.jpg"
      %p
    .item
      = image_tag "/assets/IMG_8540.JPG"
      %p
    .item
      = image_tag "/assets/IMG_9235.JPG"
      %p
    .item
      = image_tag  "/assets/IMG_9229.JPG"
      %p
    .item
      = image_tag "/assets/IMG_9232.JPG"
      %p
    .item
      = image_tag "/assets/IMG_9233.JPG"
      %p
    .item
      = image_tag "/assets/IMG_9236.JPG"
      %p

= render "partial/footer"
